@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    font-size: 14px;
    font-family: 'Klee One', cursive;
    font-weight: 400;
    margin: 0;
}

header {
    width: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

#headerlogo {
    font-size: 200%;
    margin: 0;
}

#headerlogo p {
    margin: 0 auto;
}

#top {
    width: auto;
    margin: 0 auto;

}

#top-bg {
    position: relative;
}

#top img {
    width: 100%;
}

#top-bg p {
    position: absolute;
    top: 0;
}

#toptext p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    top: 12%;
    right: 14%;
    font-size: 3.5vw;
    font-weight: 200;
}

#toptext p:nth-child(2) {
    top: 22.45%;
    right: 16.5%;
    font-size: 1.2vw;
}

#toptext p:nth-child(3) {
    top: 28%;
    right: 2.5%;
    font-size: 3vw;
    font-weight: 200;
}

#toptext2 p:nth-child(1) {
    left: 35vw;
    top: 84%;
    font-size: 2vw;
}

#question img {
    display: block;
    margin: 200px auto;
    padding-right: 64px;
    width: 100%;
    max-width: 1097px;
}