@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    font-size: 14px;
    font-family: 'Klee One', cursive;
    font-weight: 400;
    margin: 0;
    letter-spacing: 1.1px;
    color: rgb(66, 66, 66)
}
/* 
header {
    width: auto;
    position: fixed;
    right: 10px;
    top: 10px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    z-index: 99999;
} */


#top {
    width: auto;
    margin: 0 auto;

}

#top-bg {
    position: relative;
}

#top img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#top-bg p {
    position: absolute;
    top: 0;
}

#toptext p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    top: 10%;
    right: 14%;
    font-size: 3.5vw;
    font-weight: 200;
}

#toptext p:nth-child(2) {
    top: 22.45%;
    right: 16.5%;
    font-size: 1.2vw;
}

#toptext p:nth-child(3) {
    top: 28%;
    right: 2.5%;
    font-size: 3vw;
    font-weight: 200;
}

#toptext2 p:nth-child(1) {
    left: 37vw;
    top: 87%;
    font-size: 1.6vw;
}

#question img {
    display: block;
    margin: 200px auto;
    width: 100%;
    max-width: 1097px;
}

.main {
    width: auto;
    height: 1020px;
    background: -webkit-linear-gradient(top, #FFF -1%, #85cbdb1a 7%, #85cbdb33);
    position: relative;
    overflow: hidden;
}

.main #maintext1 {
    display: block;
    font-size: 38px;
    margin: 20px auto;
    text-align: center;
    padding: 62px 0 50px 0;
}

#maintext1 p {
    margin: 0;
}

#mainimg {
    position: absolute;
    top: 30%;
    right: 47%;
    width: 535px;
}

#mainimg img {
    border-radius: 30px;
    width: 100%;
}

#mainimginner {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    width: 535px;
    height: 370px;
    top: 46%;
    left: 47%;
}

#maininnertext1 {
    font-size: 30px;
    margin-top: 45px;
    margin-left: 40px;
    letter-spacing: 1.8px;
    font-weight: 600;
}

#maininnertext2 {
    margin-left: 40px;
    margin-top: 42px;
    letter-spacing: 0.8px;
    font-size: 15px;
}

#button {
    position: absolute;
    bottom: 22%;
    font-family: 'Open Sans', sans-serif;
    right: 63vw;

}

#button a {
    display: block;
    letter-spacing: 3px;
    text-decoration: none;
    position: relative;
    margin: 0 auto;
    padding: 0.5em 2em;
    width: 120px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    background-color: #ffffff;
    transition: 0.3s;
}

#button a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}

#button a:hover {
    text-decoration: none;
    background-color: #ffd16dc0;
}

#button a:hover::after {
    transform: translateX(3px);
}

#green {
    width: auto;
    height: 1100px;
    background-image: url(img/green-img.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 22vw;
    position: relative;
    margin-top: 120px;
}

#greentext1 {
    font-size: 40px;
    letter-spacing: 1.2px;
    margin: 0 auto;
    text-align: center;
}

#greentextbox {
    background-color: #85cbdb28;
    border-radius: 30px;
    width: auto;
    max-width: 780px;
    padding: 0 50px;
    height: 520px;
    margin: 0 auto;
}

#greentextbox>p {
    padding: 60px 0 50px 0;
    text-align: center;
    font-size: 17px;
}

#greentextbox ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

figure {
    text-align: center;
    margin: 0;
}

#greendownimg {
    padding: 0 50px;
    margin: 30px auto;
    text-align: center;
}

#greendownimg img {
    width: 15%;
}

#greendowntext {
    font-size: 40px;
    letter-spacing: 1.2px;
    text-align: center;
}

#textbottom {
    background:linear-gradient(transparent 75%, #85cbdb42 76%);
}

#howtouse {
    width: auto;
    height: 1020px;
    background: -webkit-linear-gradient(top, #FFF -1%, #85cbdb1a 7%, #85cbdb38);
    overflow: hidden;
}

#howtotext1 {
    width: 600px;
    left: 31%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #000;
}

#howtotext1 p {
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

#howtosunmoonimg {
    text-align: center;
    position: absolute;
    top: -6%;
    left: 46%;
}

#howtosunmoonimg img {
    width: 123px;
}

#howtoinner {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    width: 100%;
    max-width: 1100px;
    height: 370px;
    margin: 72px auto;
    padding: 95px 0;
    position: relative;
}

#figinner {
    display: flex;
    justify-content: space-evenly;
}

#rightimg img {
    padding-top: 60px;
}

#inner-img1 {
    position: absolute;
    bottom: -5%;
    left: -5%;
}

#inner-img1 img {
    width: 40%;
}

#inner-img2 {
    position: absolute;
    bottom: -10%;
    left: 83%;
    transform: rotate(11deg);
}

#inner-img2 img {
    width: 165%;
}

#figtext1 {
    text-align: left;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

#figtext2 {
    margin-top: 20px;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

#buy {
    width: auto;
    margin: 200px auto;
    text-align: center;
}


#buy a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

#buy p:hover {
    background-color: #69a2af6e;
    transition: 0.3s;
    border: none;
}

#buy a:hover {
    color: #FFF;
    transition: 0.1s;
}

#buy p {
    display: inline;
    font-size: 24px;
    border: 2px solid #69a2af;
    border-radius: 30px;
    padding: 8px 20px;
    transition: 0.3s;
}

footer {
    width: auto;
    text-align: center;
    background-image: url(img/footerbg-img.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    padding: 30px 0 20px 0;
}

footer>p {
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #69a2af;
    margin-bottom: 71px;
    margin-top: 22px;
}

footer span {
    color: #FFF;
}

footer small p {
    margin: 0;
}






@media screen and (max-width: 930px) {

    #toptext2 p:nth-child(1) {
        left: 37%;
    }

    .main #maintext1 {
        font-size: 32px;
    }

    #maininnertext1 {
        font-size: 27px;
    }

    #maininnertext2 {
        font-size: 14px;
    }

    #mainimginner {
        width: auto;
        height: 370px;
        top: 46%;
        left: 47%;
        min-width: 140px;
    }

    #mainimg {
        width: auto;
        min-width: 400px;
    }

    #green {
        background-image: none;
    }

    #greentext1 {
        font-size: 28px;
    }

    #greentextbox>p {
        font-size: 15px;
    }

    #greendowntext {
        font-size: 32px;
    }

    #howtoinner {
        min-width: 640px;
    }

    #howtosunmoonimg {
        left: 40%;
    }

    #inner-img1 img {
        width: 26%;
    }
}

@media screen and (max-width: 640px) {

    /* header img {
        width: 50%;
        min-width: 32px;
        max-width: 32px;
    } */
    #toptext p:nth-child(1) {
        font-family: 'Open Sans', sans-serif;
        top: 5%;
        right: 11%;
        font-size: 4vw;
    }

    #toptext p:nth-child(2) {
        right: 7.5vw;
        font-size: 0.1vw;
    }

    #toptext2 p:nth-child(1) {
        left: 30vw;
        top: 90%;
        font-size: 2.1vw;
    }

    #toptext p:nth-child(3) {
        right: 1.5vw;
        font-size: 2.9vw;
    }

    #question img {
        margin: 110px auto 110px auto;
    }

    .main {
        height: 850px;
    }

    #mainimg {
        position: unset;
        margin: 0 auto;
        padding: 0px 15px;
        min-width: 320px;
    }

    #mainimg img {
        width: 100%;
        min-width: 298px;
    }

    #mainimginner {
        position: unset;
        height: 235px;
        margin: 0 15px;
    }

    .main #maintext1 {
        font-size: 15px;
    }

    #maininnertext1 {
        padding-top: 8px;
        margin-top: 2px;
        font-size: 15px;
    }

    #maininnertext2 {
        font-size: 13px;
        margin-top: 10px;
    }

    #button {
        position: unset;
        margin: 75px;
    }

    #button a {
        width: 100px;
        font-size: 15px;
    }

    #green {
        height: 590px;
    }

    #greentext1 {
        font-size: 17px;
    }

    #greentextbox {
        height: 310px;
    }

    #greentextbox>p {
        font-size: 14px;
        padding: 20px 0;
    }

    ul figure img {
        width: 60%;
        max-width: 142px;
        min-width: 100px;
    }

    ul figure figcaption {
        font-size: 12px;
    }

    #greendownimg {
        padding: 0;
    }

    #greendowntext {
        font-size: 17px;
    }

    #howtotext1 p {
        font-size: 18px;
        margin-bottom: 6px;

        font-weight: 400;
    }

    #howtotext1 {
        width: 237px;
    }

    #howtoinner {
        min-width: 360px;
    }

    #figinner {
        flex-flow: column;
    }
    #howtosunmoonimg {
        top: -5%;
    }
    #figtext1 {
        font-size: 19px;
        font-weight: 400;
        padding-left: 50px;
    }

    #figtext2 {
        font-size: 13px;
        margin: 0%;
    }

    #howtofigimg img {
        width: 60%;
        min-width: 150px;
        max-width: 150px;
    }
    #rightimg {
        margin-left: 10px;
    }
    #rightimg img {
        padding-top: 0;
        transform: rotate(90deg);
    }
    #howtoinner {
        height: 554px;
}
#inner-img2 {

    bottom: -4%;
}

#buy {
    margin: 140px auto;
}
#buy p  {
    font-size: 17px;
}
}
