@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    font-size: 14px;
    font-family: 'Klee One', cursive;
    font-weight: 400;
    margin: 0;
}

header {
    width: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

#headerlogo {
    font-size: 200%;
    margin: 0;
}

#headerlogo p {
    margin: 0 auto;
}

#top {
    width: auto;
    margin: 0 auto;

}

#top-bg {
    position: relative;
}

#top img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#top-bg p {
    position: absolute;
    top: 0;
}

#toptext p:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
    top: 10%;
    right: 14%;
    font-size: 3.5vw;
    font-weight: 200;
}

#toptext p:nth-child(2) {
    top: 22.45%;
    right: 16.5%;
    font-size: 1.2vw;
}

#toptext p:nth-child(3) {
    top: 28%;
    right: 2.5%;
    font-size: 3vw;
    font-weight: 200;
}

#toptext2 p:nth-child(1) {
    left: 35vw;
    top: 84%;
    font-size: 2vw;
}

#question img {
    display: block;
    margin: 200px auto;
    padding-right: 64px;
    width: 100%;
    max-width: 1097px;
}

.main {
    width: auto;
    height: 1020px;
    background: -webkit-linear-gradient(top, #FFF -1%, #b0fffb3b 7%, #b0fffb69);
    position: relative;
    overflow: hidden;
}

.main #maintext1 {
    display: block;
    font-size: 38px;
    margin: 20px auto;
    text-align: center;
    padding: 62px 0 50px 0;
}

#maintext1 p {
    margin: 0;
}

#mainimg {
    position: absolute;
    top: 30%;
    right: 47%;
    width: 535px;
}

#mainimg img {
    border-radius: 30px;
    width: 100%;
}

#mainimginner {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    width: 535px;
    height: 370px;
    top: 46%;
    left: 47%;
}

#maininnertext1 {
    font-size: 30px;
    margin-top: 45px;
    margin-left: 40px;
    letter-spacing: 1.8px;
    font-weight: 600;
}

#maininnertext2 {
    margin-left: 40px;
    margin-top: 42px;
    letter-spacing: 0.8px;
    font-size: 15px;
}

#button {
    position: absolute;
    bottom: 22%;
    font-family: 'Open Sans', sans-serif;
    right: 63vw;

}

#button a {
    display: block;
    letter-spacing: 3px;
    text-decoration: none;
    position: relative;
    margin: 0 auto;
    padding: 0.5em 2em;
    width: 120px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    background-color: #ffffff;
    transition: 0.3s;
}

#button a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}

#button a:hover {
    text-decoration: none;
    background-color: #ffd16dc0;
}

#button a:hover::after {
    transform: translateX(3px);
}

#green {
    width: auto;
    height: 1100px;
    background-image: url(img/green-img.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 352px;
    position: relative;
    margin-top: 50px;
}

#greentext1 {
    position: absolute;
    font-size: 38px;
    font-weight: 600;
    top: 10px;
    left: 392px;
}

#greentextbox {
    position: absolute;
    background-color: #b0fffb69;
    border-radius: 30px;
    top: 20%;
    left: 392px;
    width: 60vw;
    height: 485px;
}

#greentextbox>p {
    padding: 37px 0 50px 0;
    text-align: center;
    font-size: 15px;
}
#greentextbox ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

figure {
    text-align: center;
    margin: 0;
}

#greendownimg {
    position: absolute;
    top: 70%;
}

#greendowntext {
    position: absolute;
}











#howtouse {
    position: relative;
}